body {
	background: white;
	background-image: radial-gradient(black 1px, transparent 0);
	background-size: 40px 40px;
	background-attachment: fixed;
	font-family: 'PT Serif', serif;
}

.container {
	margin: 30px 180px 0px 180px;
	display: flex;
	flex-wrap: wrap;
}

a {
  color: green;
}

h2{
	margin: 0px;
	padding: 2px;
	background-color: lightgrey;
	flex: 1;
	text-indent: 4px;
}

h3{
	margin-left: 16px;
	padding: 0;
}

p {
	margin: 16px;
	/*text-indent: 16px;*/
}

#box {
	background: cyan;
	border: 2px solid black;
	margin: 4px;
}

.header {
	flex: 1 100%;
	height: 160px;
	position: relative;
}

.top {
	display: flex;
	flex-wrap: wrap;
}

nav {
	padding: 5px;
	background-color: lightgrey;
	list-style-type: none;
}

nav a {
	padding: 5px;
}

#tux {
	height: 150px;
	position: absolute;
	right: 0;
	top: 50px;
	rotate: -90deg;
}

#tux2 {
	height: 200px;
	bottom: 0;
	right: 8px;
	position: absolute;
}
#tux3 {
	height: 200px;
	bottom: 0;
	left: 280px;
	position: absolute;
}

#dango {
	height: 100px;
	margin-top: 24px;
	margin-left: 10px;
	float: left;
}

#sign {
	float: right;
	height: 110px;	
	margin-top: 13px;
	margin-right: 620px;
}

#fun-fact-container {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 650px;
}

#fun-fact {
	margin: 0;
}

.main {
	flex: 2;
	height: 440px;
	position: relative;
}

.side {
	flex: 1;
	position: relative;
}

ul {
	padding-left: 24px;
}

.scrapbox {
	display: flex;
	flex-wrap: wrap;
	padding: 40px;
	position: relative;
}

.scrap-img {
	border: 2px dashed black;
}

#random-image {
	height: 450px;
	margin: 50px;
	rotate: 2deg;
}

#update {
	height: 350px;
	margin: 70px;
	rotate: -3deg;
}

#neofetch {
	height: 300px;
	rotate: -4deg;
	margin: 70px;
}

#konata {
	position: absolute;
	bottom: 0;
	height: 290px;
	right: 0;
}

#fubuki {
	position: absolute;
	height: 240px;
	bottom: 0;
	right: 110px;
	z-index: 1;
}

#ui {
	position: absolute;
	height: 190px;
	bottom: 0;
	right: 0;
	z-index: 2;
}