:root {
	--code: whitesmoke;

	--include: green;
	--stdio: darkgreen;

	--comment: grey;
	--variable: red;
	--quote: slateblue;
	--value: green;
}

/* Default Theme (cool) */
body.cool {
  --background: #F9F5F6;
  --top: #FDCEDF;
  --box: #F8E8EE;
  --border: #F2BED1;
}

/* Soft Theme */
body.soft {
  --background: #DADDB1;
  --top: #BFB29E;
  --box: #D6C7AE;
  --border: #B3A492;
}

/* Dim Theme (incomplete) */
body.dim {
  --background: #867070;
  --top: #;
  --box: #;
  --border: #;
}

body {
	background: var(--background);
	background-size: 40px 40px;
	background-attachment: fixed;
}

.container {
	margin: 20px 10% 0px 10%;
	display: flex;
	flex-wrap: wrap;
}

a {
  color: green;
}

h2{
	margin: 0px;
	padding: 3px;
	background-color: var(--top);
	flex: 1;
	border-bottom: 3px solid var(--border);
}

h3{
	margin-left: 16px;
	padding: 0;
}

h4 {
 	text-align: center;
	margin: 0;
	font-size: 22px;
}

p {
	margin: 16px;
	/*text-indent: 16px;*/
}

.entries p {
	border-bottom: 3px solid var(--border);
}

#box {
	background: var(--box);
	border: 3px solid var(--border);
	margin: 4px;
	position: relative;
	width: 100%;
}

.header {
	flex: 1 100%;
	height: 160px;
}

.top {
	display: flex;
	flex-wrap: wrap;
}

nav {
	padding: 5px;
	background-color: var(--top);
	list-style-type: none;
	border-bottom: 3px solid var(--border);
}

nav a {
	padding: 5px;
}

.header-content {
	display: flex;
	flex-wrap: wrap;
}

#dango {
	height: 100px;
	margin-top: 24px;
	margin-left: 10px;
}

#funfactcontainer {
	width: 60%;
	margin: auto;
}

#funfact {
	margin: 0;
}

.main {
	flex: 2;
	height: 440px;
}

.side {
	flex: 1;
}

ul {
	padding-left: 24px;
}

#skewereddango {
	height: 250px;
	position: absolute;
	right: 0;
	bottom: 0;
}

#bestbuds {
	position: absolute;
	height: 200px;
	bottom: 0;
	right: 0;
	z-index: 1;
}

#fubuki {
	position: absolute;
	height: 240px;
	bottom: 0;
	right: 110px;
	z-index: 1;
}

.code {
	font-size: 14px;
	background: var(--code);    
	padding: 5px;
	margin: 16px;
	white-space: pre-wrap;
	overflow-x: auto;
	border-left: 3px solid var(--border);
}

.terminal {
	font-size: 14px;
	background: slategrey;
	color: white;
	padding: 5px;
	margin: 16px;
	white-space: pre-wrap;
	overflow-x: auto;
	border-left: 3px solid var(--border);
}

c {
	background: var(--code);
	padding: 1px;
	border-radius: 3px;
}

grey {
	color: var(--comment);
}

blue {
	color: var(--quote);
}

green {
	color: var(--include);
}

dgreen {
	color: var(--stdio);
	font-weight: bold;
}

lgreen {
	color: var(--value);
}

red {
   color: var(--variable);
}

#wmflex {
	display: flex;
}

#rice {
	height: 220px;
	margin: 16px;
	border: 3px solid var(--border);
}